html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-y: hidden!important; }
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.hidden-scroll-y {
  overflow-y: hidden;
}
